body {
    background-image: url(https://cdn-europe1.lanmedia.fr/var/europe1/storage/images/europe1/technologies/netflix-daredevil-bientot-accessible-aux-mal-voyants-854366/17112612-1-fre-FR/Netflix-Daredevil-bientot-accessible-aux-mal-voyants.jpg);
    width: 100%;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 3.5% 80% 10% 10%;
    grid-template-rows: 2.3rem;
}

.menuburger {
    background-color: black;
    grid-column: 1 / 2;
    grid-row: 1/2;
    color: white;
    padding-top: 0.7rem;
    padding-left: 1rem;
}

.logo {
    width: 4rem;
    height: auto;
}

.logonetflix {
    background-color: black;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.loupe {
    background-color: black;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color: white;
    padding-top: 0.7rem;
    text-align: end;

}

.points {
    background-color: black;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    color: white;
    padding-top: 0.7rem;
    padding-left: 1.8rem;
    width: 4.4rem;

}

.container2 {
    display: grid;
    grid-template-columns: 10% 10% 40% 30% 10%;
    grid-row: 10% 5% 10% 5% 3%;
    height: 32.5vh;
    column-gap: 1rem;
}

.title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    font-size: 2rem;
    padding-left: 3.6rem;


}

.play {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 6rem;
    height: 2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    background: rgba(46, 49, 49, 0.5);
    padding-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 2.5rem;


}

div .play:hover {
    background-color: white;
    color: black;
}


.maliste {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 6rem;
    height: 2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    background: rgba(46, 49, 49, 0.5);
    padding-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 2.5rem;

}

div .maliste:hover {
    background-color: white;
    color: black;
}

.watch {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    color: white;
    font-size: 1.2rem;
    padding-left: 4rem;


}

.sound {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    color: white;
    font-size: 1rem;
    height: 1.5rem;
    width: 1.8rem;
    margin-left: 22rem;
    border-radius: 50%;
    border: white 1px solid;
    text-align: center;
    padding-top: 0.35rem;
    background: rgba(46, 49, 49, 0.5);

}


.age {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    color: white;
    font-size: 0.8rem;
    border-left: white 2px solid;
    height: 1.5rem;
    width: 3.3rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    background: rgba(46, 49, 49, 0.5);

}

.container3 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 1rem;
    margin-left: 0.8rem;
}

.mylist {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    font-size: 0.7rem;
    padding-left: 0.1rem;

}

.serie img {
    width: 100px;
    height: auto;
}

.serie1 {
    grid-column: 1 / 2;
}